# Python cache
__pycache__/
*.py[cod]

# Local environment artifacts
*.sqlite3
*.db

# Project local database
usuarios.db

# Ambiente virtual
venv/

# Variáveis de ambiente
.env

# Arquivos do sistema
.DS_Store
Thumbs.db